html,
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#root {
   max-width: 1280px;
   margin: 0 auto;
   padding-top: 10px;
   text-align: center;
}

.update_user_modal {
   .ant-col {
      padding: 0;
   }

   .ant-form {
      .ant-form-item {
         margin-bottom: 12px;
      }
   }
}
